################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug/netcoreapp2.2
/.vs/ElectionGenerator/v15/Server/sqlite3
/ElectionGenerator.sln.DotSettings.user
/.vs/ElectionGenerator/v15
